@import "styles/variables.scss";

.root {
    background: $commonBadge;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: fit-content;
    min-width: 64px;
    padding: 1px 6px 1px 6px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}

.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.male {
    background: $maleBadge
}

.female {
    background: $femaleBadge
}

.hermaphrodite {
    background: $hermaphroditeBadge
}
