$headerHeight: 93px;

$backgroundLight: #1f2a63;
$backgroundDark: #17002F;

$paper: #F2F2F2;

$textLight: #212121;

$yellow: #FFC107;
$green: #73D677;

$commonBadge: #07D6F2;
$maleBadge: $green;
$femaleBadge: #C956FF;
$hermaphroditeBadge: #F5DB13;
