@import "styles/variables.scss";

.root {
    padding-top: 128px;
    display: flex;
    background: linear-gradient(180deg, $backgroundLight 0%, $backgroundDark 100%);
    color: white;
    // TODO to variables
    height: calc(100% - 93px)
}

.h1 {
    margin-bottom:64px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    text-align: left;
}

.leftBlock {
    padding-left: 157px;
}

.description {
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 37px;
}

.Illustration {
    width: 100%;
}


