@import "styles/variables.scss";

.root {
  padding: 5px 28px 4px 28px;
  max-width: 352px;
  background: $paper;
  border-radius: 8px;
  filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
  cursor: pointer;
}

.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $textLight;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.wrapper {
  display: flex;
  gap: 13px;
  margin-bottom: 11px;
}

