.root {
    position: relative;
    max-width: 1124px;
    margin: 0 auto;
    padding-bottom: 20px;

    @media (width <= 1200px) {
        padding: 20px;
    }  
    
    @media (width <= 760px) {
        grid-template-columns: auto;
    }    
}

.language {
    text-align: right;
    margin-top: 28px;
    margin-bottom: 28px
}

.header,
h1 {
    margin-bottom: 35px ;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter {
    margin-bottom: 30px;
}

.charactersList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 45px;

    @media (width <= 1200px) {
        grid-template-columns: auto auto;
    }  

    @media (width <= 760px) {
        grid-template-columns: auto;
    }  
}

.loadMoreButton {
    margin-top: 20px;
}

.wookieeButton {
    display: block;
    position: fixed;
    right: 60px;
    bottom: 60px;
    background: none;
    border: none;
    cursor:pointer;

    @media (width <= 760px) {
        right: 30px;
        bottom: 30px;
    }  
}

